* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://imgcdn.stablediffusionweb.com/2024/3/19/49925953-5f53-4394-9e6a-52b3759cebc4.jpg");
  background-size: cover;
}

header,
footer {
  background: #ffffff0a;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.208);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.046);
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

button, input {
  background-color: whitesmoke;
  border: none;
  padding: 4px 8px;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover{
    transform: scale(1.09);
}

main {
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  background: #ffffff0a;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.046);
}

main > h3 {
  font-size: 60px;
}

main > div {
  display: flex;
  gap: 20px;
  justify-content: center;
}

main > img {
  height: 90px;
  width: auto;
}
