* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  background-color: white;
  color: black;
}

body.dark{
    filter: invert(100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
  color: cornflowerblue;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: white;
  border: none;
  border: 2px solid black;
  padding: 4px 8px;
  border-radius: 8px;
  font-family: monospace;
}

button:hover {
  filter: invert(100%);
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 24px;
  text-transform: uppercase;
}

header p {
  font-size: 14px;
  padding: 40px 20px;
  text-align: justify;
}

header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

main > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

main ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 20px;
  gap: 40px;
}

main ul h2 {
  text-transform: uppercase;
  font-size: 14px;
}

main ul p {
  text-align: right;
  font-family: monospace;
}

main img {
  width: 90%;
  height: auto;
}
