* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}

body {
  padding: 40px;
  color: black;
  background-color: white;
}

body.dark{
    color: white;
    background-color: black;
}
