* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  color: black;
  background-color: whitesmoke;
  transition: 0.4s;
}

body.dark{
    color: whitesmoke;
    background-color: black;
}